:root { 
    --base03: #002b36; 
    --base02: #073642; 
    --base01: #586e75; 
    --base00: #657b83; 
    --base0: #839496; 
    --base1: #93a1a1; 
    --base2: #eee8d5; 
    --base3: #fdf6e3; 
    --yellow: #b58900; 
    --orange: #cb4b16; 
    --red: #dc322f; 
    --magenta: #d33682; 
    --violet: #6c71c4; 
    --blue: #268bd2; 
    --cyan: #2aa198; 
    --green: #859900;
} 

body { 
    color: var(--base01); 
    font-family: monospace; 
    background-color: var(--base03, black); 
}

h1 {
    color: var(--red);
    font-size: 60px;
}

p {
    font-size: 16px;
}

.heading {
    border-color: var(--orange, orange);
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--base02, grey);
    padding: 10px;
    margin: 5px;
    text-align: center;
}

img {
    border-radius: 5px;
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--blue);
    font-size: 24px;
}
a:link {
    color: var(--blue);
}
a:visited {
    color: var(--green);
}
a:hover {
    color: var(--cyan);
}
a:active {
    color: var(--red);
}
